@mixin clearfix {
    &::after {
        content: ""; // need to appear on page
        display: table; // standard version of clearfix
        clear: both; // clears both floats (left and right)
    }
}

@mixin centralize {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}